<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <ul>
        <li><a th:href="@{/variables/string/} + 'Hola Yoariht'">/variables/string/Hola Yoariht</a></li>
        <li><a th:href="@{/variables/string/} + 'Que tal Brenda'">/variables/string/Que tal Brenda</a></li>
        <li><a th:href="@{/variables/string/} + 'Mucho gusto Melanie' + '/' + 10">/variables/string/Mucho gusto Melanie/10</a></li>
    </ul>
</body>
</html>